body{
    font: 16px Montserrat, sans-serif;
    line-height: 1.8;
}

li a {
    color:inherit;
  }

.hovercontainer {
    position: relative;
    width: 100%;
}

.hoverimage {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    background-color: grey;
}

.hovercontainer:hover .overlay {
    opacity: 0.5;
}

.hovertext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}